<%= form_tag(users_path, method: 'get') do %>
  <%=label_tag(:query, 'Search:') %>
  <%=text_field_tag(:query) %>
  <%=submit_tag('Submit') %>
<% end %>

<h1>Users</h1>

<ul>
  <% @users.each do |user| %>
    <li><%= user.email %></li>
  <% end %>
</ul>
