<h3>Home Page</h3>

<h4>Hi!, Here is a picture of me.</h4>
<%= image_tag "profile.png", alt: "RLB3" %>

<h4>Here are some cool images in a slidshow.</h4>

<div class="container">
  <div id="slides">
    <%= image_tag "image_01.png", alt: "Photo by: RLB3" %>
    <%= image_tag "image_02.png", alt: "Photo by: RLB3" %>
    <%= image_tag "image_03.png", alt: "Photo by: RLB3" %>
    <%= image_tag "image_04.jpg", alt: "Photo by: RLB3" %>
    <%= image_tag "image_05.jpg", alt: "Photo by: RLB3" %>
    <%= image_tag "image_06.jpg", alt: "Photo by: RLB3" %>
    <%= image_tag "image_07.jpg", alt: "Photo by: RLB3" %>

    <a href="#" class="slidesjs-previous slidesjs-navigation">prev</a>
    <a href="#" class="slidesjs-next slidesjs-navigation">next</a>
  </div>
</div>
