<h3>Listing Posts</h3>

<div id="post-form">
  <%= render 'form' %>
</div>

<%= link_to 'New Post', new_post_path %>
<br>

<%= paginate @posts, remote: true %>

<ul id="posts">
  <%= render @posts %>
</ul>
<br>

<%= paginate @posts, remote: true %>




