<!DOCTYPE html>
<html>
<head>
  <title>Lessons</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header id="flash-msg" class="">
    <%= flash[:notice] if flash[:notice] %>
    <%= flash[:alert] if flash[:alert] %>

    <h4>Hello <%= current_user.name if current_user %></h4>

    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Users", users_path %></li>
        <li><%= link_to "Sign up", new_user_path %></li>
        <% unless session[:user_id] %>
          <li><%= link_to "Sign in", new_session_path %></li>
        <% else %>
          <li><%= link_to "Sign out", session_path(session[:user_id]), method: :delete %></li>
        <% end %>
      </ul>
    </nav>
  </header><!-- /header -->

<%= yield %>

</body>
</html>
