<!DOCTYPE html>
<html>
<head>
  <title>Lessons</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= link_to 'Home', root_path %>
  <% unless user_signed_in? %>
    <%= link_to "Log in", new_user_session_path %>
    <%= link_to "Log in with GitHub", user_omniauth_authorize_path(:github) %>
    <%= link_to "Sign up", new_user_registration_path %>
  <% else %>
    <%= link_to 'Secret', '/secret' %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete %>
  <% end %>

  <h3>Welcome <%=current_user.email if current_user%></h3>

  <%= yield %>

</body>
</html>
